.myConfirmBtn {
  background-color: rgba(166, 127, 120, 1);
  color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.myCancelBtn {
  background-color: white;
  color: rgba(166, 127, 120, 1);
  border: rgba(166, 127, 120, 0.3) solid 1px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

button:hover {
  opacity: 0.7;
}